<ion-content scrollbar-x="false" scrollbar-y="false" style="padding-bottom:40px;" ng-init="">

    <div id="mainBar" class="bar bar-positive">
      <h3>Project</h3>
    </div><!-- End of mainBar -->
    <br><br><br>
    
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Firstname</span>
        <input type="text" placeholder="e.g: Jonathan" ng-model="data.users.firstname">
      </label>

      <label class="item item-input">
        <span class="input-label">Lastname</span>
        <input type="text" placeholder="e.g: Boaz" ng-model="data.users.lastname">
      </label>

      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" placeholder="e.g: sboaj1321" ng-model="data.users.username">
      </label>

      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" placeholder="e.g: joeboaz@gmail.com" ng-model="data.users.address">
      </label>

      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" placeholder="**********" ng-model="data.users.password">
      </label>
        
      <label class="item item-input item-select">
        <div class="input-label">
          Gender
        </div>
        <select ng-model="data.users.gender">
          <option value="Male" selected>Male</option>
          <option value="Female">Female</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Status
        </div>
        <select ng-model="data.users.userstatus">
          <option value="Development Team" selected>Development Team</option>
          <option value="Product Owner">Product Owner</option>
          <option value="Scrum Master">Scrum Master</option>
        </select>
      </label>
      <!-- <json-formatter json="data.users" open="4"></json-formatter> -->
      <div id="buttons" class="item">
        <button class="button button-calm icon-left ion-checkmark-round" ng-click="add('users',data.users,'response')">
          Add User
        </button>

        <button type="reset" class="button button-assertive icon-left ion-close-round" ng-click="app.alert('test',data.users,null,'OKAY')">
          Cancel
        </button>
      </div>
    </div> <!-- end of list div -->
</ion-content>
